@model IEnumerable<ExpenseDTO>
@{
	 ViewData["Title"] = "ExpenseList";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://use.fontawesome.com/c7a575b4de.js"></script>
<div class="row">
    <div class="col-12">
        <h2>Expneses</h2>
        <div class="d-flex justify-content-end mb-1">
            <a asp-controller="ExpenseUI" asp-action="Create" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i>Create</a>
        </div>
    </div>
    <div class="col-12">
        <table style="width:100%;text-align:center;border-collapse:collapse;background-color:rgb(254, 249, 231);">
            <thead class="table-light bg-light">
                <tr style="background-color:rgb(191, 201, 202 );">
                    <th>SL</th>
                    <th>ExpenseDate</th>
                    <th>
                        CategoryName
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               @{
                   var i=1;
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@data.ExpenseDate.ToString("yyyy-MM-dd")</td>
                        <td>@data.CategoryName</td>
                        <td>@data.Amount.ToString("0.00")</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-controller="ExpenseUI" asp-action="Edit" asp-route-id="@data.ExpenseID"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="ExpenseUI" asp-action="Delete" asp-route-id="@data.ExpenseID"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
                        </td>
                    </tr>
                    i++;
                }
                }
            </tbody>
        </table>
    </div>
</div>
@*@section styles {
    <link href="~/libs/datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/validation/jquery.validate.min.js"></script>
    <script src="~/libs/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
    $(() => {
        $("#from").datepicker({
            format: 'yyyy-mm-dd'
        });
        $("#to").datepicker({
            format: 'yyyy-mm-dd'
        });
    })
    </script>
}*@




